

<header class="sticky top-0 left-0 w-full z-10 bg-slate-800/80 shadow-md backdrop-blur-md">
    <nav class="mx-auto my-0 max-w-6xl py-3 flex justify-between items-center px-5
                md:px-12 gap-4">
        <a href="/" class="flex items-center gap-3 px-1 py-1 border-2
         border-gray-500/80 rounded-full bg-slate-700/70">
            <img src="/pink.webp" alt="" />
            <p class=" text-sm font-bold pr-3 md:text-lg">Volver a Inicio</p> 
        </a>
        <h2 class="text-white/90 text-s font-bold text-end md:text-2xl">Demos CSS y diseños</h2>
    </nav>
</header>
<style>
    nav img {
        width: 50px;
        border-radius: 100%;
    }
    
</style>