---
import CodepenItem from "./CodepenItem.astro";

const CODEPEN = [
    {
        title: "Verificacion visual de email con CSS (NOJS)",
        description: "Ejemplo de como verificar el formato de email visualmente con CSS, sin necesidad de JS.",
        penID: "vYvZjxR",
    },
    {
        title: "Animacion basada en scroll (NOJS)",
        description: "Animacion con la tecnica Animation-timeline sin necesidad de usar JavaScript para lectura del scroll.",
        penID: "NWJYoBg",
    },
    {
        title: "Animacion de muestra de codigo oculto con hover y blur (NOJS)",
        description: "Animacion que revela contenido de un texto al pasar el mouse con efecto de blur y uso de la caracteristica CSS has().",
        penID: "oNVyEQm",
    },
    {
        title: "Formulario de inicio de sesion con animacion y hover (NOJS)",
        description: "Formulario que enciende luces led al pasar el mouse sobre los botones, con animacion de entrada y salida.",
        penID: "XWGQYJe",
    },

    {
        title: "Carrusel de imagenes con rotacion 360ยบ",
        description: "Carrusel de imagenes con rotacion 360ยบ, con efecto de perspectiva.",
        penID: "",
    },
    {
        title: "Slider comparativo para dos imagenes",
        description: "Slider comparativo para dos imagenes con uso de anotacion @layer y transparencias ",
        penID: "XWGQYeE",
    },   
]



---
<ul class="flex flex-col gap-10 mt-8">
    {CODEPEN.map((pen) => (
        <li>
            <CodepenItem {...pen} />
        </li>
    ))}
</ul>