---
import CodepenItem from "./CodepenItem.astro";

const CODEPEN = [
    {
        title: "Verificacion visual de email con CSS (NOJS)",
        description: "Este es un ejemplo de como verificar un email con CSS, sin necesidad de JS.",
        iframe: "https://codepen.io/Andres-Robayo-the-builder/full/vYvZjxR",
    },
]
---
<ul>
    {CODEPEN.map((pen) => (
        <li>
            <CodepenItem {...pen} />
        </li>
    ))}
</ul>