---
const { title, description, penID } = Astro.props;
---

<h3 class="text-xl font-semibold text-yellow-200/90">{title}</h3>
<p class="mb-4 text-base font-normal text-gray-200 text-pretty">
    {description}
</p>
<div>
    <p 
        class="codepen" 
        data-height="400" 
        data-default-tab="html,result" 
        data-slug-hash={penID} 
        data-user="Andres-Robayo-the-builder" 
        style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
            
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</div>