    <div class="panel">
        <div class="column column-reverse">
            <img
                src="https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"
                alt=""
            />
            <img
                src="https://img.freepik.com/foto-gratis/paisaje-forestal_71767-127.jpg"
                alt=""
            />
            <img
                src="https://img.freepik.com/fotos-premium/hermosos-paisajes-paisajes-naturales-hacen-que-personas-relajen-disfruten-fondo-pantalla_917506-214429.jpg"
                alt=""
            />
            <img
                src="https://st5.depositphotos.com/64145070/64693/i/450/depositphotos_646930840-stock-photo-sunset-ocean-beach-beautiful-seascape.jpg"
                alt=""
            />
            <img
                src="https://cc-prod.scene7.com/is/image/CCProdAuthor/7%20AdobeStock_335413355?$png$&jpegSize=200&wid=960"
                alt=""
            />
            <img
                src="https://www.hofmann.es/blog/wp-content/uploads/2021/09/HF_3_Paisajes_WEB-23.jpg"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,q_auto,w_1024/v1/guides/article_cover/gfuvmfczfyosqs1k4ema"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgiHMyIZ7v8FtQ-pWa0xgBJyVIg2y5ItKD4w&usqp=CAU"
                alt=""
            />
            <img
                src="https://cdn.shopify.com/s/files/1/0592/5371/9202/files/campo.de_.tulipanes_480x480.jpg?v=1638388374"
                alt=""
            />
            <img
                src="https://articles-img.sftcdn.net/t_articles/auto-mapping-folder/sites/2/2023/01/rio-mont-saint-michel.jpg"
                alt=""
            />
        </div>
        <div class="column">
            <img
                src="https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"
                alt=""
            />
            <img
                src="https://img.freepik.com/foto-gratis/paisaje-forestal_71767-127.jpg"
                alt=""
            />
            <img
                src="https://img.freepik.com/fotos-premium/hermosos-paisajes-paisajes-naturales-hacen-que-personas-relajen-disfruten-fondo-pantalla_917506-214429.jpg"
                alt=""
            />
            <img
                src="https://st5.depositphotos.com/64145070/64693/i/450/depositphotos_646930840-stock-photo-sunset-ocean-beach-beautiful-seascape.jpg"
                alt=""
            />
            <img
                src="https://cc-prod.scene7.com/is/image/CCProdAuthor/7%20AdobeStock_335413355?$png$&jpegSize=200&wid=960"
                alt=""
            />
            <img
                src="https://www.hofmann.es/blog/wp-content/uploads/2021/09/HF_3_Paisajes_WEB-23.jpg"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,q_auto,w_1024/v1/guides/article_cover/gfuvmfczfyosqs1k4ema"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgiHMyIZ7v8FtQ-pWa0xgBJyVIg2y5ItKD4w&usqp=CAU"
                alt=""
            />
            <img
                src="https://cdn.shopify.com/s/files/1/0592/5371/9202/files/campo.de_.tulipanes_480x480.jpg?v=1638388374"
                alt=""
            />
            <img
                src="https://articles-img.sftcdn.net/t_articles/auto-mapping-folder/sites/2/2023/01/rio-mont-saint-michel.jpg"
                alt=""
            />
        </div>
        <div class="column column-reverse">
            <img
                src="https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"
                alt=""
            />
            <img
                src="https://img.freepik.com/foto-gratis/paisaje-forestal_71767-127.jpg"
                alt=""
            />
            <img
                src="https://img.freepik.com/fotos-premium/hermosos-paisajes-paisajes-naturales-hacen-que-personas-relajen-disfruten-fondo-pantalla_917506-214429.jpg"
                alt=""
            />
            <img
                src="https://st5.depositphotos.com/64145070/64693/i/450/depositphotos_646930840-stock-photo-sunset-ocean-beach-beautiful-seascape.jpg"
                alt=""
            />
            <img
                src="https://cc-prod.scene7.com/is/image/CCProdAuthor/7%20AdobeStock_335413355?$png$&jpegSize=200&wid=960"
                alt=""
            />
            <img
                src="https://www.hofmann.es/blog/wp-content/uploads/2021/09/HF_3_Paisajes_WEB-23.jpg"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,q_auto,w_1024/v1/guides/article_cover/gfuvmfczfyosqs1k4ema"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgiHMyIZ7v8FtQ-pWa0xgBJyVIg2y5ItKD4w&usqp=CAU"
                alt=""
            />
            <img
                src="https://cdn.shopify.com/s/files/1/0592/5371/9202/files/campo.de_.tulipanes_480x480.jpg?v=1638388374"
                alt=""
            />
            <img
                src="https://articles-img.sftcdn.net/t_articles/auto-mapping-folder/sites/2/2023/01/rio-mont-saint-michel.jpg"
                alt=""
            />
        </div>
    </div>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            text-decoration: none;
            color: #fff;
        }

        

        body {
            background-color: rgb(26, 26, 32);
        }

        .panel {
            overflow-y: hidden;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            gap: 2rem;
            padding: 0 2rem;
        }

        .column img {
            max-width: 300px;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            scroll-behavior: smooth;
        }

        .column {
            --colum-offset: 10vh;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: var(--colum-offset) 0;
        }

        .column-reverse {
            animation: adjust-position linear forwards;
            animation-timeline: scroll(root block);
            flex-direction: column-reverse;
        }

        @keyframes adjust-position {
            0% {
                transform: translateY(calc(-100% + 100vh));
            }

            100% {
                transform: translateY(calc(100% - 100vh));
            }
        }
    </style>
