---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import CodepenComp from "../components/codepen/CodepenComp.astro";
import Codepen from "../components/icons/Codepen.astro";
---

<Layout 
	title="Portafolio de Andres Robayo - Desarrollador y Progrmamador Web"
	description="Contrata para crear tu aplicacion web o movil, Desarrollador Web especializado en diseños responsive y aplicaciones unicas.">
	<main class="px-6 mx-auto">
        <SectionContainer class="pt-44 pb-24" id="inicio">
            <h1 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
                <Codepen class="size-7" />
                Codepens by arbyl
            </h1>   
            <CodepenComp />
        </SectionContainer>
    </main>
</Layout>