---
import LayoutDemos from "../layouts/LayoutDemos.astro";
import Codepen from "../components/codepen/CodepenComp.astro";
import { Code } from "astro:components";
---

<LayoutDemos
    title="Portafolio de Andres Robayo - Desarrollador y Programador Web"
    description="Contrata para crear tu aplicacion web o movil, Desarrollador Web especializado en diseños responsive y aplicaciones unicas."
>
    

    <div class="mx-auto">                
        <Codepen />
    </div>

</LayoutDemos>
