---
import DemoHeader from "../components/demos/DemoHeader.astro";
import LayoutDemos from "../layouts/LayoutDemos.astro";
import Scroll01 from "./demos/scroll01.astro";
import Link from "astro:components";
---

<LayoutDemos
    title="Portafolio de Andres Robayo - Desarrollador y Programador Web"
    description="Contrata para crear tu aplicacion web o movil, Desarrollador Web especializado en diseños responsive y aplicaciones unicas."
>
    

    <div class="mx-auto">                
        <Scroll01 />                
    </div>

</LayoutDemos>
