---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/Github.astro";
import EmailIcon from "../components/icons/Email.astro";
import Experiencia from "../components/Experiencia.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Proyectos from "../components/Proyectos.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import SobreMi from "../components/SobreMi.astro";
import UserIcon from "../components/icons/UserIcon.astro";

---

<Layout 
	title="Portafolio de Andres Robayo - Desarrollador y Programador Web"
	description="Contrata para crear tu aplicacion web o movil, Desarrollador Web especializado en diseños responsive y aplicaciones unicas.">
	<main class="px-6 mx-auto">
		<SectionContainer class="pt-44 pb-24" id="inicio">
			<img class="rounded-full size-[100px] mb-4" src="/pink.webp" alt="" />
			<h1
				class="text-white text-2xl md:text-5xl font-bold flex flex-row gap-x-4 
				lg:pb-10 pb-6 "
			>
				¡Hola!, soy Andrés
				<a
					href="https://linkedin.com/in/arobayo" 
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-2xl">
				+4 años de experiencia. 
				<span class="text-yellow-200/90">Desarrollador Web.</span> 
				De Bogotá, Colombia.
				Especializado en diseños responsive y aplicaciones unicas.
			</h2>

			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="http://linkedin.com/in/arobayo">
					<LinkedInIcon class="size-4 md:size-6"/>LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Arbyl">
					<GitHubIcon class="size-4 md:size-6"/>GitHub
				</SocialPill>
				<SocialPill href="mailto:aflara123@gmail.com">
					<EmailIcon class="size-4 md:size-6"/>Email
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7 mr-2"/>
				Experiencia laboral</h2>
			<Experiencia />
		</SectionContainer>

		<SectionContainer id="proyectos" class="">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7 mr-2"/>
				Proyectos</h2>
			<Proyectos />
		</SectionContainer>

		<SectionContainer id="sobre-mi" >
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<UserIcon class="size-7 mr-2"/>
				Sobre mí</h2>
				<SobreMi />
		</SectionContainer>

		<div class="my-12">
			<h2 class="text-2xl font-semibold mb-3 flex gap-x-3 items-center">
				Contactame, estare encantado de conversar 😄</h2>
			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="http://linkedin.com/in/arobayo">
					<LinkedInIcon class="size-4 md:size-6" />LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Arbyl">
					<GitHubIcon class="size-4 md:size-6" />GitHub
				</SocialPill>
				<SocialPill href="mailto:aflara123@gmail.com">
					<EmailIcon class="size-4 md:size-6" />Email
				</SocialPill>
			</nav>
		</div>


	</main>
	<button data-confetti-button>Celebrate!</button>
</Layout>