---
import ExperienciaItem from "./Experiencia_item.astro"

const EXPERIENCIA = [
    {
        title: 'Freelancer - Web Developer',
        date: 'Actualidad',
        description: 'Desarrollador web freelance especializado en la creación de sitios responsive. Dedico mi experiencia en HTML, CSS y JavaScript para garantizar que cada proyecto se adapte de manera óptima a diferentes dispositivos, brindando una experiencia de usuario excepcional en desktop, tablets y móviles.'
    },
    {
        title: 'Casa Editorial El Tiempo - Portafolio Website',
        date: 'Febrero 2023 - Septiembre 2023',
        description: 'Desarrollador web Front-End, utilizando HTML, CSS (Sass) y JavaScript para el rediseño del sitio Portfolio. Con enfoque en crear diseños responsivos (web y móvil) y optimizar el rendimiento del lado del cliente para mejorar la experiencia del usuario. Colaboré en el rediseño del menú principal desplegable, la página de inicio y la página de detalle de cada artículo.', 
        link: 'https://www.portafolio.co'
    }
]
---

<ol class="relative border-s border-gray-700 ml-3 max-w-2xl">                  
    {
        EXPERIENCIA.map(experiencia => (
            <li class="mb-10 ms-4">
                <ExperienciaItem {...experiencia} />
            </li>
        ))
   }
</ol>

