<header class="flex justify-center items-center py-5 w-full mx-auto">
    <nav class="flex gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#projectos">Projectos</a>
        <a href="#sombre-mi">Sobre mí</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>
