@import "mixins";

header{
    @include breakpoints();
    width: 100%;
    height: 100px;
    @include flex_jus_ali_dir_wrap(end, center, row);

    nav{
        width: 50%;
        @include flex_jus_ali_dir_wrap(end, center);
        ul{
            @include flex_jus_ali_dir_wrap(space-between, center);
            gap: 20px;
            li{
                a{
                    color: #ffffff;
                }
            }
        }
    }
}
