@import 'reset';
@import 'mixins';

body{
    background-color: rgb(52, 52, 52);

}

.card {
	width: 200px;
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0 8px;
	perspective: 2500px;
    
    &:hover .wrapper {
        transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
        box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }
}

.wrapper {
    transition: all 0.5s;
	position: absolute;
	width: 100%;
	z-index: -1;

    &::before, &::after {
        content: "";
        opacity: 0;
        width: 100%;
        height: 50px;
        transition: all 0.5s;
        position: absolute;
        left: 0;
    }
    &::before {
        top: 0;
        height: 50%;
        background-image: linear-gradient(
            to top,
            transparent 46%, rgb(114, 114, 114)
        );
    }
    &::after {
        bottom: 0;
        opacity: 1;
        background-image: linear-gradient(
            to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgb(34, 34, 34) 97%
        );
    }

    .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card:hover .wrapper::before,
.wrapper::after {
	opacity: 1;
}

.card:hover .wrapper::after {
	height: 100px;
}

.title {
    text-align: center;
	width: 100%;
	transition: transform 0.5s;
}
.card:hover .title {
	transform: translate3d(0%, -50px, 100px) scale(1.2);
}

.package {

    display: flex;
    flex-direction: row;
    gap: 10px;


    img{
        position: absolute;
        width: 100%;
        top: 30%;
        opacity: 0;
        left: 0;
        z-index: -1;
        transition: all 0.5s;
    }
}


.card:hover .package img{
	opacity: 1;
	transform: translateY( -100px);
}
